@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import SamsungOne font */
@font-face {
    font-family: 'SamsungOne';
    src: url('./assets/SamsungOne-400.ttf') format('truetype');
    font-style: normal;
}

/* 
@font-face {
    font-family: 'SamsungOne';
    src: url('./asstes/SamsungOne-700.ttf') format('truetype');
    font-style: normal;
} */